/* Reset CSS pour enlever les marges et les paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de la barre de navigation */
nav {
    background-color: #007bff; /* Couleur de fond bleue */
    position: fixed; /* Barre de navigation fixée en haut de la page */
    width: 100%; /* Largeur de la barre de navigation à 100% de la largeur de la fenêtre */
    z-index: 1000; /* Pour s'assurer que la barre de navigation reste au-dessus du reste du contenu */
}

/* Style de la liste à puces */
nav ul {
    list-style-type: none; /* Enlever les puces */
    overflow: hidden; /* Pour gérer les débordements */
}

/* Style des éléments de la liste */
nav ul li {
    float: left; /* Disposition en ligne */
}

/* Style des liens */
nav ul li a {
    display: block; /* Convertir les liens en blocs pour les rendre cliquables sur toute la largeur */
    color: white; /* Couleur du texte */
    text-align: center; /* Centrer le texte */
    padding: 14px 16px; /* Ajouter un espace autour du texte */
    text-decoration: none; /* Enlever le soulignement par défaut des liens */
}

/* Style des liens au survol de la souris */
nav ul li a:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}
